.form--container {
    padding: 5% 10% 0 10%;

}

.form--text {
    font-weight: bold;
    margin-top: 15vh;
    display: block;
    margin-bottom: 50px;
    font-family: 'Montserrat';
    font-weight: 700;
}

.form--action {
    margin-left: 25px;

}

.btn-send {
    background-color: #0AB59D;
    padding: 8px 50px 8px 50px;
    border-style: none !important;
    color: white;
    font-family: 'TT Supermolot Neue';
    font-size: 1.1rem;

}



input[type=text], select, textarea {
    font-family: 'Montserrat';
    width: 35%;
    /* Full width */
    padding: 15px;
    /* Some padding */
    border: 0px;
    border: 1px solid #0AB59D;
    display: block;
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

label {
    font-family: 'Montserrat';
    font-size: 1rem;
    padding-top: 10px;
    margin-bottom: 2px;
}

textarea {
    width: 60% !important;
}

input:focus {
    outline: none !important;
}

textarea:focus {
    outline: 2px !important;
}

.map {
    text-align: right;
    padding: 0 10% 5% 10%;
}

.map--container {
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
}

.map--left {
    width: 40%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.map--left>p {
    text-align: left;
    margin-right: 50px;
    margin-bottom: 0;
}

.map--left>h1 {
    margin-right: 50px;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: left;
}

.map--right {
    width: 60%;
    margin-left: 200px;
}

.map--google {
    filter: hue-rotate(172deg);
}