/* Style the buttons that are used to open and close the accordion panel */
.accordion--container{
    padding: 5% 10% 5% 10%;
}

.accordion--section {
    background-color: #0ab59d;
    color: white;
    cursor: pointer;
    padding: 18px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: all 1s;
  }

  .accordion--panel {
    padding: 0 18px;
    background-color: rgb(255, 255, 255);
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
  }
  
  .accordion--active, .accordion--section:hover {
    background-color:#089683;
  }
  
  .accordion--panel {
    padding: 24px;
    margin-bottom:10px;
    border-radius:5px;
    background-color: #0bb39c69;
    outline-style:solid 2px;
    display: none;
    overflow: hidden;
  }